

body {
    
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    font-family: roboto, sans-serif;
    
}

/* First Section */

.first, footer {
    background-color: #528E3B;
}

.first, .second, .third {
    display: flex;
    flex-direction: column; 
    padding: 0px 100px; 
}

.header {
    display: flex;
    align-items: center;
    
    
    justify-content: center;
    align-items: baseline;
    gap: 500px;
    margin-bottom: 70px;
    
}

.header p {
    font-size: 24px;
    color: #F9FAF8;


}

.links {
    display: flex;
    gap: 3px;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.header2 {
    display: flex;
    justify-content: center;   
    margin-bottom: 80px;
    gap: 100px;
    
}

.headDescription h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    position: relative;
    top: 10px;

}

.headDescription p {
    color: white;
}

.headDescription h1, .headDescription p {
    max-width: 350px;
    margin-top: -20px;
}

img.rain {
    max-height:250px;
    min-width: 500px;
}

.but {
    padding: 10px 30px;
    color: #528E3B;
    background-color: white;
    border-radius: 10px;
}

/* Second Section */

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    color: #528E3B;
    font-weight: 800;

    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    margin-bottom: 50px;
    
}

.item > img {
    width: 200px;
    height: 150px;
    border: #528E3B 5px solid;
    border-radius: 10px;

}

.text {
    max-width: 200px;
    margin-top: 10px;
    color: #1F2937;
}

/** Third Section */

.third {
    background-color: #E5E7EB;
    padding: 50px 150px;
    display: flex;
    align-items: center;
    

}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 800px;
    
}

.quotee {
    font-size: 36px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 100px;
    margin-top: -40px;
}

/** Fourth Section */
.fourth {
    padding: 75px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    
    
}

.signBlock {
    background-color: #528E3B;
    padding: 25px;
    display: flex;
    width: 900px;
    justify-content: center;
    gap: 150px;
    color: #F9FAF8;
    border-radius: 10px;

}

.signHead {
    font-weight: bold;
    font-size: 20px;   
}

.signHead2 {
    color: white;
}


.signUp {
    border-radius: 10px;
    color: #528E3B;
    border: 2px white solid;
    background-color: white;
    height: 35px;
    padding: 0px 30px;
    align-self: flex-end;
}

/** Footer */

.copy {
    text-align: center;
    font-size: medium;
    color: lightgray;
    padding: 40px;
}










